<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create dictionary definition</title>
    <link th:href="@{/styles/createDict.css}" rel="stylesheet"/>

</head>
<body>

<div class="container">
    <div class="link"><a href="../dicts">Dictionaries list</a></div>
    <div class="link"><a href="../createDict">Create dictionary</a></div>
</div>

<div class="container" style="flex-direction: column;">
    <div style="padding: 10px;" >
        <label>Dict name: <input type="text" id="dictName"></label>
    </div>
    <div class="container">
        <div id="source" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h1 draggable="true" ondragstart="drag(event)" id="text">Text</h1>
            <h1 draggable="true" ondragstart="drag(event)" id="number">Number</h1>
            <h1 draggable="true" ondragstart="drag(event)" id="radiobutton">Radiobutton</h1>
            <h1 draggable="true" ondragstart="drag(event)" id="checkbox">Checkbox</h1>
        </div>

        <div id="target" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

        <input type="button" value="Save dict" onclick="save()"/>
    </div>
</div>

<script th:src="@{/js/createDict.js}"></script>
</body>

</html>