<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dictionary list</title>
    <link th:href="@{/styles/createDict.css}" rel="stylesheet"/>

</head>
<body>

<div>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="dict : ${dicts}">
<!--            <td><a th:href="${'/dicts/' + dict.id}" th:text="${dict.id}">ID</a></td>-->
            <td><a th:href="${'/dicts/' + dict}" th:text="${dict}">Name</a></td>
            <td><a th:href="${'/dicts/' + dict + '/drop'}" th:text="[x]" class="drop">Name</a></td>
<!--            todo remove link-->
        </tr>


    </table>
</div>
</body>

</html>