<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>

</head>
<body>

<div class="container">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each="dict : ${dicts}">
            <td><a th:href="${'/dicts/' + dict.id}" th:text="${dict.id}">ID</a></td>
            <td><a th:href="${'/dicts/' + dict.id}" th:text="${dict.name}">Name</a></td>

        </tr>


    </table>
</div>
</body>

</html>