<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add dictionary value</title>
    <link th:href="@{/styles/createDict.css}" rel="stylesheet"/>

</head>
<body>
<form action="#" th:object="${emptyValue.fieldValues}" method="post" th:action="'/dict/' + ${emptyValue.name} + '/save'">
    <div class="container">
        <h1 th:text="${emptyValue.name}">DictName</h1>

        <table>
            <tr>
                <td th:each="fieldName : ${fieldNames}">
                    <p th:text="${fieldName}"></p>
                </td>
            </tr>

            <tr>
                <td th:each="fieldValue : ${emptyValue.fieldValues}">
<!--                    <input type="text" th:field="*{name}" id="name" placeholder="Name">-->

                    <input type="text" th:value="${value}"/>
                </td>

                <td><input type="submit" value="SAVE"></td>
            </tr>


            <tr th:each="fieldValue : ${fieldValues}">
                <div th:each="value : ${fieldValue}">
                    <td th:text="${value.getValue()}"></td>
                </div>
            </tr>
        </table>

    </div>
</form>
</body>

</html>