#source, #target {
    float: left;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: row;
}

.link {
    padding: 10px;
    background-color: lavender;
}
.link:hover {
    background-color: #efefff;
}